 body {
      background-color: #111312; /* Cinza claro #1c3743; */
    }
     
    

     p {
       color: rgb(136, 212, 13);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       
     }

     h1 {
      color: beige;
      font-family: Arial, Helvetica, sans-serif;
     }
     header {
      border-bottom: 8px groove  #00ff66;
      color: rgb(136, 212, 13);
       text-align: center;
      
     }
     ol {
      color: rgb(136, 212, 13);
      font-family: Arial, Helvetica, sans-serif;
      
      
     }


     img {
  border: 3px solid #ffffff;
  border-radius: 15px; /* arredonda os cantos */
}
    

.caixa {
  border: 2px solid #00ff66;   /* borda verde */
  padding: 15px;               /* espaço interno */
  display: flex;               /* coloca imagem e texto lado a lado */
  gap: 15px;                   /* espaço entre imagem e texto */
  max-width: 1500px;            /* largura máxima da caixa */
  background-color: #001a1a;   /* cor de fundo (opcional) */
  border-radius: 10px;
  margin: 80px; /* cria espaço externo em volta da caixa */         /* cantos arredondados */
}

.caixa img {
  width: 200px;
  border-radius: 8px;
}


.caixa1 {
  border: 2px solid #00ff66;   /* borda verde */
  padding: 15px;               /* espaço interno */
  display: flex;               /* coloca imagem e texto lado a lado */
  gap: 15px;                   /* espaço entre imagem e texto */
  max-width: 1500px;            /* largura máxima da caixa */
  background-color: #001a1a;   /* cor de fundo (opcional) */
  border-radius: 10px; 
  margin: 80px; /* cria espaço externo em volta da caixa */        /* cantos arredondados */
}

.caixa1 img {
  width: 200px;
  border-radius: 8px;
}