 body {
      background-color: #1e221f; /* Cinza claro #1c3743; */
    }
     
    

     p {
       color: rgb(136, 212, 13);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       
     }

     h1 {
      color: beige;
      font-family: Arial, Helvetica, sans-serif;
     }
     header {
      border-bottom: 8px groove  rgb(129, 202, 11);
      color: rgb(136, 212, 13);
      
     }
     ol {
      color: rgb(136, 212, 13);
      font-family: Arial, Helvetica, sans-serif;
      
      
     }

    