 body {
      background-color: #1c3743; /* Cinza claro */
    }
     
    

     p {
       color: rgb(136, 212, 13);
       font-family: Arial, Helvetica, sans-serif;
       font-size: larger;
       
     }

     h1 {
      color: beige;
      font-family: Arial, Helvetica, sans-serif;
     }
     header {
      border-bottom: 3px groove  rgb(129, 202, 11);
      color: rgb(136, 212, 13);
      
     }
     ol {
      color: rgb(136, 212, 13);
      font-family: Arial, Helvetica, sans-serif;
      
      
     }

    