 body {
      background-color: #111312; /* Cinza claro #1c3743; */
    }
     
    

     p {
       color: rgb(136, 212, 13);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       text-align: center;
       
     }

     h1 {
      color: beige;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
     }
     header {
      border-bottom: 8px groove  #00ff66;
      color: rgb(136, 212, 13);
       text-align: center;
       display: flex;
       align-items: center;
       gap: 10px;
       justify-content: space-between; /* joga logo pra esquerda e título pro centro/direita */
    padding: 10px 20px;
      
     }


     header img {
    width: 80px; /* ajuste o tamanho da logo */
    height: auto;
    background: white;
    margin: 15px;
}

header h1 {
     flex: 1; /* ocupa o espaço no meio */
    text-align: center;
    margin: 0;
}
     ol {
      color: rgb(136, 212, 13);
      font-family: Arial, Helvetica, sans-serif;
      
      
     }


     img {
  border: 3px solid #ffffff;
  border-radius: 15px; /* arredonda os cantos */
}
    

.caixa {
  border: 2px solid #00ff66;   /* borda verde */               /* espaço interno */
  display: inline-flex;             /* coloca imagem e texto lado a lado */
  gap: 15px;                   /* espaço entre imagem e texto */
  max-width: 1500px;   
  flex: 1 1 300px;          /* largura máxima da caixa */
  background-color: #001a1a;   /* cor de fundo (opcional) */
  border-radius: 10px;
  margin: 25px; /* cria espaço externo em volta da caixa */         /* cantos arredondados */
  justify-content: center; /* horizontal eee */
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.caixa img {
  width: 200px;
  border-radius: 8px;

}


.caixa1 {
  border: 2px solid #00ff66;   /* borda verde */             /* espaço interno */
  display: inline-flex;   
  display: flex;
  flex-direction: column; /* ou row se quiser lado a lado */
  align-items: center;    /* centraliza horizontalmente */
  justify-content: center; /* centraliza verticalmente se precisar */          /* coloca imagem e texto lado a lado */
  gap: 15px;                   /* espaço entre imagem e texto */
  max-width: 1500px; 
  flex: 1 1 300px;            /* largura máxima da caixa */
  background-color: #001a1a;   /* cor de fundo (opcional) */
  border-radius: 10px; 
  margin: 25px; /* cria espaço externo em volta da caixa */        /* cantos arredondados */
  padding: 20px;
  box-sizing: border-box;
}

.caixa2 {
    display: flex;
    justify-content: center; /* centraliza no eixo horizontal */
    gap: 20px; /* espaço entre as imagens */
    flex-wrap: wrap; /* quebra linha se a tela for pequena */
}

.caixa2 img {
    border: 3px solid red; /* só para visualizar */
    border-radius: 10px;
    

    }



